@{
    ViewBag.Title = "Acerca";
    //ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Use this area to provide additional information.</p>*@
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum porttitor magna. Donec varius convallis lacus, quis pulvinar purus molestie commodo. Pellentesque vel enim ante. Proin ut odio sit amet erat tincidunt viverra. Nunc non orci vel turpis tincidunt interdum. Aliquam consequat diam iaculis augue commodo cursus. Maecenas consectetur, leo non mollis aliquet, tellus purus fringilla ante, at posuere ante nisi sit amet libero. Praesent pharetra, ligula sit amet efficitur accumsan, quam eros dignissim dui, non elementum ante tellus a erat. Nunc eget mi viverra, accumsan quam quis, cursus lectus.

    Praesent convallis arcu velit, ut ornare metus posuere ac. Duis eros felis, scelerisque ac ultrices nec, iaculis quis eros. Aenean mattis tortor sollicitudin lectus interdum dictum. Suspendisse interdum cursus risus, vitae fermentum ante. Cras vestibulum elit posuere leo iaculis viverra. Suspendisse elementum condimentum dui nec dignissim. Quisque dictum finibus nunc vitae tempus. Pellentesque a magna sollicitudin, semper ex id, consectetur nisl. Fusce rutrum arcu sed lectus scelerisque consectetur. Suspendisse quis massa sed est malesuada venenatis vitae ut velit. Donec erat justo, semper nec porttitor ultrices, rhoncus sed augue. Quisque id nunc ipsum. Vivamus at rhoncus lectus, condimentum congue erat. Nulla molestie ac felis at tempor. Integer eleifend blandit nisi, tempor sodales turpis posuere non. Morbi imperdiet lacus metus, quis auctor massa molestie nec.

    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ac mauris massa. Duis eget sem ultricies, viverra nisi vitae, luctus nunc. Mauris pharetra quam sapien, quis imperdiet odio bibendum nec. Duis ac turpis at nunc cursus sagittis eu condimentum nunc. Aliquam vitae ultrices massa. In lacinia risus ligula, ut imperdiet mi placerat sit amet. Phasellus elementum quis neque et fringilla. Etiam consequat semper ligula, sed auctor nisi pretium ac.

    Aliquam tristique, est eu ornare molestie, eros lacus volutpat arcu, in malesuada magna ex id felis. Nunc pretium risus sed arcu molestie eleifend. Vestibulum pellentesque auctor augue ut pellentesque. Aliquam dapibus, est vulputate fringilla egestas, ipsum lorem blandit justo, in lacinia libero est non dolor. Integer scelerisque tortor non tincidunt rutrum. Ut lacinia rutrum justo. Maecenas a risus velit. Cras tristique sit amet erat sit amet gravida. Etiam laoreet arcu eu metus iaculis luctus. Phasellus sagittis at dui id dapibus. Duis efficitur sed justo non rutrum. Quisque accumsan eget ipsum et mollis. Fusce tristique interdum magna, fringilla iaculis lorem tempor quis. Donec id rutrum justo, vitae ultricies mi.

    Mauris laoreet sit amet nisi non pellentesque. Sed pretium urna tellus, at ornare lorem ornare nec. Vivamus malesuada, tellus at dapibus pretium, leo nisl sagittis ligula, sed cursus ligula dolor eu nisi. Ut turpis risus, congue non elit sed, cursus egestas dolor. Nunc venenatis commodo vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras nec nulla id mi sagittis dictum ut quis ex. Donec vel elit mattis, viverra lorem sed, facilisis dui. Nunc vehicula condimentum quam, euismod finibus metus mollis eget. Vivamus pellentesque suscipit metus quis vestibulum. Ut pellentesque dolor nec tellus eleifend lacinia. Integer et lectus sit amet velit tristique tincidunt. Maecenas auctor bibendum risus at fermentum. Proin ut iaculis eros. Suspendisse malesuada, nunc nec laoreet mollis, tellus massa lacinia nisl, eu imperdiet lectus dui vel urna. Nunc a convallis nibh, eu venenatis justo.
</p>
