@{
    ViewBag.Title = "Contacto";
    //ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Teléfono Whatsapp">P:</abbr>
    @*<abbr title="Phone">P:</abbr>*@
    @*425.555.0100*@
    <a href="tel:+573107760510">+573107760510</a>
    @*<p><a href="tel:+4733378901">+47 333 78 901</a></p>*@
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:NestorMauricio@live.com">NestorMauricio@live.com</a><br />
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>