@{
    ViewBag.Title = "TFS";
    //ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <h1>Toyota Financial Services</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p class="lead">Sistema de facturación de paquetes de financiamiento de vehículos y convenios.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <p><a href="~/VentaPaquetes" class="btn btn-primary btn-lg">Venta Paquetes &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        <h2>Paquetes</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p><a class="btn btn-default" href="~/Paquetes">Paquetes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        <h2>Vehículos</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Vehiculos">Vehículos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        <h2>Clientes</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Clientes">Clientes &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Clasificaciones</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Clasificaciones">Clasificaciones &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Convenios</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Convenios">Convenios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Financieras</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Financieras">Financieras &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Perfiles</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
        <p><a class="btn btn-default" href="~/Perfiles">Perfiles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
        <p><a class="btn btn-default" href="~/Usuarios">Usuarios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venta Paquetes</h2>
        <p>Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
        <p><a class="btn btn-default" href="~/VentaPaquetes">Venta Paquetes &raquo;</a></p>
    </div>
</div>